[Unit]
Description=WiFi Autoconnect
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /usr/local/bin/pi-wifi-connect.sh

[Install]
WantedBy=multi-user.target
